*{
    margin: 0;
    padding: 0;
}
.navbar-parent{
    display: flex;
    background-color: grey;
    justify-content: space-around;
    padding: 10px;
    align-items: center;
}
.menu-bar{
    display: flex;
    list-style: none;
    font-size: 18px;
    gap: 18px;
    color: whitesmoke;
    font-family: sans-serif;
    transition: 0.2s;
    cursor: pointer;
}

.menu-bar:hover{
    color: red;
}
.first-main-banner{
    height: 100vh;
    background-image: url(image/background.jpg),linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.8));
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    align-items: center;
    

}
.banner-text{
    margin-left: 250px;
}
.primary{
    color: red;
}
.headline{
    font-size: 55px;
    font-weight: bold;
    color: white;
}
.paragraph{
    color: white;
    padding: 10px;
    width: 50%;
    margin: auto;
    font-size: 18px;

}
.btn{
    padding: 12px 20px;
    border: none;
    font-weight: bold;
}
.bg-primary{
    background-color: red;
    color: rgb(22, 22, 22);
    box-shadow: grey;
    font-weight: bold;
}
.btn:hover{
    background-color: red;

}
.bg-primary:hover{
    background-color: white;
    font-weight: bold;
}
.service-sec{
    height: 100vh;
    background-image: url(image/footer-bg.png),linear-gradient(rgba(0,0,0,0.9),rgba(0, 0, 0, 0.9));
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    align-items: center;
    padding: 20px;

}
.icon{
    width: 70px;
    margin-bottom: 20px;
}
.box{
    text-align: center;
    border-radius: 5px;
    padding: 50px;
    background-color: white;
    color: black;
    width: 200px;
    height: 100px;
    
}
.service-para{
    width: 50%;
}
.first-two-box{
    display: flex;
    gap: 3px;
    margin-top: 3px;

}
.author-img{
    width: 70px;
    height: 70px;
    border-radius: 35px;
}
.author-container{
    display: flex;
    gap: 20px;
    align-items: center;
}
.profile-container{
    display: flex;
    align-items: center;
    gap: 5px;
}